[submodule "colors/colorschemes/behelit"]
	path = colors/colorschemes/behelit
	url = git://git.2f30.org/behelit.git
[submodule "mutt/.mutt/mutt-colors-solarized"]
	path = mutt/.mutt/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "colors/colorschemes/nord-xresources"]
	path = colors/colorschemes/nord-xresources
	url = https://github.com/arcticicestudio/nord-xresources.git
[submodule "liquidprompt/liquidprompt"]
	path = liquidprompt/liquidprompt
	url = git@github.com:nojhan/liquidprompt.git
[submodule "colors/colorschemes/sombre.tmux"]
	path = colors/colorschemes/sombre.tmux
	url = https://github.com/alexanderjeurissen/sombre.tmux
[submodule "colors/colorschemes/dracula-theme"]
	path = colors/colorschemes/dracula-theme
	url = git@github.com:dracula/dracula-theme.git
[submodule "tmux/tmux-airline-dracula"]
	path = tmux/tmux-airline-dracula
	url = https://github.com/sei40kr/tmux-airline-dracula.git
[submodule "colors/colorschemes/badcat"]
	path = colors/colorschemes/badcat
	url = git@github.com:emanuelrosa/badcat.git
[submodule "vim/.vim/pack/minpac/opt/minpac"]
	path = vim/.vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
