! #include "colorschemes/nord-xresources/src/nord"
#include "~/colorschemes/solarized/xresources/solarized"

URxvt.font: xft:terminess powerline:size=9
! URxvt.letterSpace: -1
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5 
URxvt*scrollBar: false
URxvt*scrollBar_right: true
URxvt*scrollColor: #000000
URxvt*urgentOnBell: yes

Xft.dpi: 125.37
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

